.leaflet-overlay-pane svg path.area {
  cursor: url("../img/cursor-select-area.png"), pointer;
}

.leaflet-overlay-pane svg path.area.fill {
  fill-opacity: 0;
  stroke-width: 60px;
  stroke: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
  fill-rule: evenodd;
}

.leaflet-overlay-pane svg path.area.shadow {
  stroke: #f6634f;
  stroke-width: 16;
  stroke-opacity: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.leaflet-overlay-pane svg path.area.stroke {
  stroke: rgb(170, 170, 170);
  stroke-width: 1;
}

svg path.area.fill.construction {
  stroke: rgba(196, 189, 25, 0.3);
  fill: rgba(196, 189, 25, 0.3);
}
svg path.area.stroke.construction {
  stroke: rgb(196, 189, 25);
}

svg path.area.fill.building {
  stroke: rgba(224, 110, 95, 0.3);
  fill: rgba(224, 110, 95, 0.3);
}
svg path.area.stroke.building {
  stroke: rgb(224, 110, 95);
}

svg path.area.fill.residential {
  stroke: rgba(196, 189, 25, 0.3);
  fill: rgba(196, 189, 25, 0.3);
}
svg path.area.stroke.residential {
  stroke: rgb(196, 189, 25);
}

svg path.area.fill.park {
  stroke: rgba(140, 208, 95, 0.3);
  fill: rgba(140, 208, 95, 0.3);
}
svg path.area.stroke.park {
  stroke: rgb(140, 208, 95);
}

svg path.area.fill.water {
  stroke: rgba(119, 211, 222, 0.3);
  fill: rgba(119, 211, 222, 0.3);
}
svg path.area.stroke.water {
  stroke: rgb(119, 211, 222);
}
